nav.navbar.navbar-default {
  margin-bottom: 0;
  body {
   background-image: url("https://previews.123rf.com/images/123vector/123vector1805/123vector180500225/101981833-illustration-of-white-tiles-wall-background-design.jpg");
   background-color: #cccccc;
  }
}
